/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    margin: 0;
    background-color: black;
}

/* Estilo para o nav */
nav {
    padding: 5px;
    margin-left: 1%;
    margin: 2%;
    padding: 0.3%;
    font-size: 15px;
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0px 50px 10px 0px;
    position: relative;
}

nav a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}
