/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    margin: 0;
    background-color: black;
}

/* Estilo para o nav */
nav {
    padding: 5px;

    padding: 0.3%;
    font-size: 20px;
    display: flex; 
    z-index: 1000; 
    position: fixed; 
    top: 0;
    width: 100%; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.589), rgba(0, 0, 0, 0));
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px; 
    position: relative; 
    display: inline-block; 
    line-height: 40px; 

}

nav a::after {
    content: " ";
    width: 0%;
    height: 2px; /*expessura do sublinhado*/
    background-color: white;
    position: absolute;
    bottom: -5px; 
    left: 0;
    transition: width 0.3s ease-in-out;
}

nav a:hover::after {
    width: 100%;
}
